
<div id="navigation_bar" class="container">
  
  <nav>
    <ul>
      <li><a href="#" routerLink="/leaderboard">Leaderboard</a></li>
      <li><a href="#" routerLink="/kudos">Kudos</a></li>
      <li><a href="#" routerLink="/assists">Assists</a></li>
      <li><a href="#" routerLink="/codequality">Code Quality</a></li>
      <li><a href="#" routerLink="/testtickets">Test Tickets</a></li>
      <li><a href="#" routerLink="/storypoints">Story Points</a></li>
      <li><a href="#" routerLink="/home">Sprint Star &#10032;</a></li>
    </ul>
  </nav>

</div>


